<footer>
    <h5>Merci à nos partenaires !</h5>
    <table>
         <tbody>
            <tr>
                <td><a href="http://www.mi-integration.com/mi_integration/FR/PAGE_Implantation.awp?P1=1" target="_blank"><img src="/assets/img/sponsors/integrationn.png"></a></td>
            </tr> 
            <tr>
                <td><a href="http://www.bombardier.com/fr/accueil.html" target="_blank"><img class="sponsor-large" src="/assets/img/sponsors/bombardier.png"></a></td>
                 <td><a href="https://www.hewitt.ca/fr" target="_blank"><img src="/assets/img/sponsors/hewittcat.png"></a></td>
                 <td><a href="http://www.crim.ca/fr/" target="_blank"><img src="/assets/img/sponsors/CRIM.PNG"></a></td>
            </tr>
            <tr>
                <td><a href="http://www.seminaire-sherbrooke.qc.ca/fondation/seminaire-sherbrooke/index.html" target="_blank"><img src="/assets/img/fondation.png"></a></td>
                <td><a href="http://www.seminaire-sherbrooke.qc.ca/" target="_blank"><img class="sponsor-large" src="/assets/img/sponsors/seminaire.png"></a></td>
                <td><a href="http://www.robotiquefirstquebec.org/" target="_blank"><img src="/assets/img/sponsors/RFQ.png"></a></td>
            </tr>
        </tbody>
    </table>
    <h5>Médias sociaux</h5>
        <a class="twitter-timeline" data-width="300" data-height="500" data-theme="dark" data-link-color="#FAB81E" href="https://twitter.com/Evolution2626">Tweets by Evolution2626</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FEvolution2626%2F&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    <a href="http://www.firstinspires.org"><img class="first-logo" src="/assets/img/first.png"></a>
</footer>
<script src="/js/scripts.js"></script>
{% if page.scripts %}
    {% for script in page.scripts %}
<script src="/js/{{ script }}.js"></script>
    {% endfor %}
{% endif %}
