<header>
    <a href="/"><img src="/assets/img/smiley.png"></a>
    <div>
        <h2><a href="/">Evolution</a></h2>
        <br></br>
        <h3><a href="/">FRC Team 2626 - Séminaire de Sherbrooke</a></h3>
    </div>
    <ul class="social">
        <br></br>
        <li>
            <a href="http://twitter.com/Evolution2626">
                <img src="/assets/img/social/twitter.svg">
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/Evolution2626">
                <img src="/assets/img/social/facebook.svg">
            </a>
        </li>
        <li>
            <a href="http://github.com/Evolution2626">
                <img src="/assets/img/social/github.svg">
            </a>
        </li>
    </ul>
    <div id="nav-button"><span></span><span></span><span></span></div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/robots">Robots</a>
                <ul>
                    <li><a href="/robot/2016">2016</a></li>
                    <li><a href="/robot/2015">2015</a></li>
                    <li><a href="/robot/2014">2014</a></li>
                    <li><a href="/robot/2013">2013</a></li>
                    <li><a href="/robot/2012">2012</a></li>
                    <li><a href="/robot/2011">2011</a></li>
                    <li><a href="/robot/2010">2010</a></li>
                    <li><a href="/robot/2009">2009</a></li>
                </ul>
            </li>
            <li><a href="/team">The Team</a></li>
            <li><span>More</span>
                <ul>
                    <li><a href="/outreach">Outreach</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
